# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/

# Production
build
dist

# Turborepo
.turbo

# Expo
.expo/
web-build/
android/
ios/

# Prisma
packages/db/src/generated

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Build & binary artifacts
*.tsbuildinfo
*.apk
*.aab
scratch/
apps/driver-app/scratch/
app_routes_backup/

